body {
  font-family: monospace;
  padding: 20px;
}
.container {
  max-width: 600px;
  margin: auto;
}
textarea {
  width: 100%;
  font-size: 1em;
  margin-top: 20px;
}
.hidden {
  display: none;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
